html{
  box-sizing: border-box;
  background: lightgoldenrodyellow;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header,
.page-body{
  position: absolute;
}

header {
  background-color: black;
  width: 100%;
  height: 60px;
}

.page-body {
  top: 60px;
  bottom: 0;
  overflow: auto;
  background: gray;
  left: 0;
  right: 0;
}

.layout-wrap{
  max-width: 960px;
  min-width: 585px;
  margin: 0 auto;
  padding: 24px;
}

.notifications {
  display: block;
  width: 100%;
  height: 30px;
  background: #d1d1d1;
}
.notifications:before{
  position: relative;
  left: 20px;
  top: 6px;
  content: 'The data of UTF Bi would be updated at 16:00 pm';
}
.search-box {
  float: right;
}

nav {
  padding-top: 24px;
}

.nav-section{
  display: block;
  height: 150px;
  width: 30.66%;
  position: relative;
  float: left;
  background: #000000;
  margin-right: 4%;
}

.nav-section:last-child{
  margin-right: 0;
}

.nav-section > p{
  font-size: 1rem;
  color: white;
  text-align: center;
}

.menu {
  display: block;
  background: #d1d1d1;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-hint{
  text-align: left;
  margin: 0 auto;
}

.menu-hint p{
  float: left;
  padding-left: 20px;
  color: black;
  font-size: 0.85rem;
  padding-top: 7px;
  margin: 0 auto;
}
.arrow {
  text-align: right;
  padding-top: 7px;
  padding-right: 10px;
}

.action-list{
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 10;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.nav-section .action-list:target{
  display: block;
}

.action-list li{
  list-style: none;
  height: 30px;
  /*background: #d1d1d1;*/
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 5px;
}

/*.action-list li:not(:first-child){
  background-color: #ffffff;
}*/

.tabs {
  padding-top: 24px;
  display: block;
  width: 100%;
  position: relative;
  float: left;
}

.tabs ul {
  padding-left: 0;
  margin:0;
}

.tabs ul li {
  display: block;
  position: relative;
  width: 22%;
  height: 30px;
  background: #555555;
  list-style: none;
  float: left;
  text-align: center;
  margin-right: 4%;
}

.tabs ul li:last-child{
  margin-right: 0;
}

.tabs li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: block;
  height: inherit;
  line-height: 30px;
}

.tabs div{
  background: #d1d1d1;
  width: 100%;
  position: absolute;
  top: 54px;
  height: 300px;
}

/*.tabs li a:target{
  background: #d1d1d1;
  color: #000000;
}*/
