html{
  box-sizing: border-box;
  background: lightgoldenrodyellow;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


header,
.page-body{
  position: absolute;
}

header {
  background-color: black;
  width: 100%;
  height: 60px;
}

.page-body {
  top: 60px;
  bottom: 0;
  overflow: auto;
  background: gray;
  left: 0;
  right: 0;
}

.layout-wrap{
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.notifications {
  display: block;
  width: 100%;
  height: 30px;
  background: #d1d1d1;
}
.notifications:before{
  position: relative;
  left: 20px;
  top: 6px;
  content: 'The data of UTF Bi would be updated at 16:00 pm';
}
.search-box {
  float: right;
}

nav {
  padding-top: 20px;
}
.nav-section{
  display: block;
  height: 150px;
  width: 30.4342%;
  position: relative;
  float: left;
  background: #000000;
}
.page-body .nav-section:nth-child(1){
  left: 0;
  right: 30.4347%;
}

.page-body .nav-section:nth-child(2){

  /*right: 65.2172%;*/
  left: 4.3478%;
  right: auto;
}

.page-body .nav-section:nth-child(3){
  /*left: 69.5650%;*/
  left: 8.700747014%;
  right: 0;
}


.content {
  background: #dad;
  /*   right: 200px; */
  right: 25%;
  left: 0;
}
.sidebar {
  background: #bee;
  /*   width: 200px; */
  left: 75%;
  right: 0;
}
.footer {
  background: #666;
  width: 100%;
  bottom: 0;
  height: 60px;
}