html{
  box-sizing: border-box;
  background: lightgoldenrodyellow;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


header,
.page-body{
  position: absolute;
}

header {
  background-color: black;
  width: 100%;
  height: 60px;
}

.page-body {
  top: 60px;
  bottom: 0;
  overflow: auto;
  background: gray;
  left: 0;
  right: 0;
}

.layout-wrap{
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}

.notifications {
  display: block;
  width: 100%;
  height: 30px;
  background: #d1d1d1;
}
.notifications:before{
  position: relative;
  left: 20px;
  top: 6px;
  content: 'The data of UTF Bi would be updated at 16:00 pm';
}
.search-box {
  float: right;
}

nav {
  padding-top: 24px;
}
.nav-section{
  display: block;
  height: 150px;
  width: 30.66%;
  position: relative;
  float: left;
  background: #000000;
}

.page-body .nav-section:nth-child(1){
  left: 0;
  right: auto;
}

.page-body .nav-section:nth-child(2){

  left: 4%;
  right: auto;
}

.page-body .nav-section:nth-child(3){
  left: 8%;
  right: 0;
}

.nav-section > p{
  font-size: 1rem;
  color: white;
  text-align: center;
}

.menu {
  display: block;
  background: #d1d1d1;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-hint{
  text-align: left;
  margin: 0 auto;
}

.menu-hint p{
  float: left;
  padding-left: 20px;
  color: black;
  font-size: 10px;
}
.arrow {
  text-align: right;
  padding-top: 7px;
  padding-right: 10px;
}

.tabs {
  padding-top: 160px;
}

.action-list{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.tabs ul {
  padding-left: 0;
  width: 20%;
  height: 30px;
}

.tabs ul li {
  display: block;
  width: 30.66%;
  background: #555555;
  list-style: none;
  float: left;
}

.tabs li a {
  /*display: block;*/
  text-align: center;

}
.tabs div{
  /*width: 25%;*/
}